.primary {
	color: #541313;
	font-size: 8vh;
	font-weight: bold;
	display: inline-block; 
	text-align: left;
	margin-left: 1vh;
	margin-right:  1vh;
	margin-bottom:  5vh;
	line-height: 1;
}

.text {
	display: inline-block; 
	text-align: left;
	max-width: 200px;
	font-size: 14px;
	margin: 1vh;
	font-family: 'Poppins';
}

.projectTitle {
	font-size: 35px;
	font-weight: bolder;
	text-align: left;
	padding-bottom: 10px;
	display: block;
	line-height: 1;
}


.projectText {
	display: inline-block; 
	text-align: left;
	font-size: 16px;
	font-family: 'Poppins';
	line-height: 1.3;
}