

$primaryColor: #2b0000;
$secondaryColor: #7272AB;
$paleSpringBud: #F4F4C7;
$teaGreen: #D2E0BF;
$hoverBgColor : #f5f5f5;
$hoverBgColorr: #d0dbc6;
$defaultsize: 16px;
$defaultBiggerSize: 25px;

body{
	background-color: $paleSpringBud;
}

#header {
  z-index: 20;
  display: block;
  min-width: 30vh;
}

#site {
	background-color: $paleSpringBud;
}

#navbarNav {
  height: 100vh;
  margin-left: 3vh;
  align-items: flex-start;
  justify-content: flex-start;
}

#photoCol {
  margin-top: 6vh;
}



.btn {
      font-style: light;
      font-family: Poppins;
      margin-bottom: 0.7rem;
      border: solid 1px !important;
      margin: 0;
      background-color: transparent;
}

.imageBtn {
	border: none;
	background-color: transparent;
}
 
.modal-lg {
	max-width: 1500px;
}

.link {
	color: black;
	display: block;
}

.link:hover {
	color: black;
	display: block;
}

.back {
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
  width: fit-content;
}

.back:hover {
  transform: rotate(-10deg);
}

.headerName {
  text-decoration: none;
  color: $primaryColor;
  font-weight: 900;
  letter-spacing: 0.55em;
  min-height: 20px;
  display: block;
  font: 'Barrio';
}

.headerName:hover {
  text-decoration: none;
  cursor: pointer;
  color: $primaryColor;
}

.headerName:focus {
  text-decoration: none;
  color: $primaryColor;
}

.col {
	padding-bottom: 5vh;
}

#navlink_active {
	.navlink_active {
		font-size: $defaultBiggerSize;
		//text-decoration-line: underline;
		text-decoration-thickness: 8px;
		  text-decoration-color: $primaryColor;
		  color: $primaryColor;
		  display: block;
		  padding: 15px;
		  font-weight: bold;
	  letter-spacing: 0.125em;

	}
}

.navlink_active:hover {
	color: $primaryColor;
	text-decoration-line: none;
	  display: block;
	  transition: linear 1s;
	  font-family: 'Roboto';
	  letter-spacing: 0.125em;
}

.navlink:hover {
	text-decoration-line: underline;
	//text-decoration-thickness: 8px;
	  text-decoration-color: $primaryColor;
	color: $primaryColor;
	  display: block;
	 
}

.navlink {
		font-size: $defaultBiggerSize;
	font-weight: lighter;
       font-family: 'Roboto'; 
    text-decoration: none;
    color: $primaryColor;
	  display: block;
	  padding: 15px;
	  letter-spacing: 0.125em;
}

.projectListing {
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	background-color: transparent;
}

.projectPicture-hov{
	display: none;
	z-index: 99;
	width: 100%;

}
.projectListing:hover {
  
  text-decoration: none;
  .projectPicture-hov {
  	display: inline-block;
  	top:0;
  	  }
  .projectPicture {
  	display: none;
  }
}

.projectListing:focus {
	padding-top: 10px;
	margin-bottom: 10px;
	border: none;
	outline: none;
}

.projectPicture {
  width: 100%;
}

.hov-img{

}


#secondnav_link_active {
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: right 15px top -2px;
	background-size: $defaultBiggerSize $defaultBiggerSize;
	.secondnav_link_active {
		margin-bottom: 15px;
		color: $primaryColor;
		display: inline-block;
		font-size: $defaultsize;
		font-weight: bolder;
		text-decoration: none;
	}
}


.secondnav_link_active:hover {
	color:  $primaryColor;
	display: inline-block;
	text-decoration: none;
	font-size: $defaultsize;
}

.secondnav_link {
	margin-bottom: 15px;
	text-decoration: none;
	color:  $primaryColor;
	display: inline-block;
	font-size: $defaultsize;
	font-weight: bold;
}

#secondnav_link:hover {

	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: right 15px top -2px;
	background-size: $defaultBiggerSize $defaultBiggerSize;
.secondnav_link:hover {
	margin-bottom: 15px;
	color:  $primaryColor;
	display: inline-block;
	font-size: $defaultsize;
	text-decoration: none;
}

}

.photo {
  width: 100%;
}

.caption{
	font-size: $defaultBiggerSize; 
  font-family: 'Maven Pro';
  font-style: italic;
    position: absolute;
}


.photoClass {
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 60px;

  .caption {
    display: none;
  }
}

.photoClass:hover {
  .caption {
    display: block;
  }
}

.iconlinks {
	color: $primaryColor;
	font-size: $defaultsize;
	padding-bottom: 10px;
	display: inline-block;
}

.iconlinks:hover {
	font-size: $defaultsize;
	text-decoration: none;
	color:  $primaryColor;
	img {
		transform: rotate(7deg);
	}
}

.iconlinktext {
	font-family: 'Roboto';
	letter-spacing: 0.1em;
	padding-left: 5px;
}

.selected {
	width: $defaultBiggerSize;
	marginTop: -5px;
}

.pscroll{
	width: 100%;
	padding: 10px;
}

