

$primaryColor: #2b0000;
$secondaryColor: #541313;
$hoverBgColor : #f5f5f5;
$hoverBgColorr: #d0dbc6;


#header {
}


.headerName {
  text-decoration: none;
  color: $primaryColor;
  font-weight: 900;
  letter-spacing: 0.55em;
  min-height: 20px;
  display: block;
}

.headerName:hover {
  text-decoration: none;
  cursor: pointer;
  color: $primaryColor;
}

.headerName:focus {
  text-decoration: none;
  color: $primaryColor;
}

.col {
	padding-bottom: 5vh;
}

.navlink_active {
	text-decoration-line: underline;
	  text-decoration-color: $primaryColor;
	  text-decoration-thickness: 10px;
	  color: $primaryColor;
	  display: block;
	  padding-bottom: 5px;
}

.navlink_active:hover {
	color: $primaryColor;
	text-decoration-line: underline;
	  text-decoration-color: $primaryColor;
	  text-decoration-thickness: 10px;
	  display: block;
	  padding-bottom: 5px;
	  transition: linear 1s;
}

.navlink:hover {
	color: $primaryColor;
	text-decoration-line: underline;
	  text-decoration-color: white;
	  text-decoration-thickness: 10px;
	  display: block;
	  padding-bottom: 5px;
	  transition: linear 1s;
}

.navlink {
    text-decoration: none;
    color: $primaryColor;
	  display: block;
	  padding-bottom: 5px;
}

.projectListing {
	padding-top: 10px;
	margin-bottom: 10px;
	border: none;
	background-color: transparent;
}

.projectListing:focus {
	padding-top: 10px;
	margin-bottom: 10px;
	border: none;
	outline: none;
}

.projectPicture {
  width: 30vw;
}

.secondnav_link_active {
	margin-bottom: 15px;
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 16px;
	font-weight: light;
	text-decoration: underline;
	text-decoration-thickness: 5px;
}


.secondnav_link_active:hover {
	margin-bottom: 15px;
	text-decoration: none;
	color: $secondaryColor;
	display: inline-block;
	font-size: 16px;
	background-color: white;
	font-weight: light;
}

.secondnav_link {
	margin-bottom: 15px;
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 16px;
	font-weight: light;
}

.secondnav_link:hover {
	margin-bottom: 15px;
	text-decoration: none;
	color: $secondaryColor;
	display: inline-block;
	font-size: 16px;
	font-weight: light;
}